<% if @user %>
<h3>User Summary: <%= @user.username%></h3>
<p>Joined site <%= @user.created_at.strftime("%b %d, %Y") %></p>
<% end %>

<p><%= link_to "Add Product", new_product_path %></p>
<p><%= link_to "Add Category", new_category_path %></p>
<p><%= link_to "Order Summary" %></p>

<h4>Products</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product.id) %></td>
      <td><%= product.stock %></td>
      <td><%= format_price(product.price) %></td>

      <% if product.active %>
      <td><%= link_to "Active", toggle_active_path(product.id), method: :patch %></td>
      <% else %>
      <td><%= link_to "Retired", toggle_active_path(product.id), method: :patch %></td>
      <% end %>

      <td><%= link_to "Edit", edit_product_path(product.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
