<!-- make sure it's a merchant -->

<!-- attach to user_id? attach to session -->
<!-- make sure it's set up to input or store image -->

<section class="row">
  <section>
    <% if @product.errors.any? %>
    <ul class="errors">
      <% @product.errors.each do |column, message| %>
      <li><strong><%= column.capitalize %></strong><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </section>

  <section class="product_form">
    <!-- top and end of form_for is in edit.html and new.html -->
    <!-- <%= form_for @product do |f| %> -->
    <!-- subbing in a select form for a logged in user (temporary) -->
      <article>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :price %>
        <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: "", unit: ""), min: 0.01, step: 0.01 %>

        <%= f.label :stock, "Quantity in Stock" %>
        <%= f.select :stock, options_for_select(1..20), :selected => @product.stock %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :image %>
        <%= f.file_field :image %>

        <%= f.label :category %>
        <%= f.collection_select(:category_ids, Category.all, :id, :name, {include_blank: "Please select", label: false }, { multiple: true }) %>

        <%= f.submit button_name %>
      </article>
    <!-- <% end %> -->
  </section>

</section>
