<section class="row">
  <% if params[:category_id] %>
      <h1><%= Category.find(params[:category_id]).name  %></h1>
  <% else %>
    <h1>All Products</h1>
  <% end %>
  
  <section class="all_products">
    <% @products.each do |p| %>
      <%= link_to product_path(p.id) do %>
        <article class="product">
        <p>
          <img src="http://placebeyonce.com/250-250" alt="product image">
          <%= p.image %>
        </p>
        <p>
          <div><%= p.name %></div>
        </p>
        <p>
          <%= format_price(p.price) %>
        </p>
        </article>
      <% end %>
    <% end %>
  </section>

</section>
