<section class= "row promo">
  <h4>Introducing</h4>
    <h2>Haunted collection</h2>
    <small>by Casper</small>
    <p>Tried and true products you won't want to live or die without,
    </br>curated by your ghostly friends at Spooksy</p>
    <%= link_to "Shop now", category_products_path(4), class: "button" %>
</section>
<section class = "row root-products">
  <section class = "columns large-6 small-12">
    <h5>Trending</h5>
    <% @top_products.each do |product|%>
      <%p = Product.find(product.id)%>
      <%= link_to product_path(p.id) do %>
      <article class="product">
        <%= image_tag p.image, alt:"product image" unless p.image.blank? %>
        <p><%= p.name.titleize %></p>
        <p><%= format_price(p.price) %></p>
      </article>
      <% end %>
    <%end %>
  </section>
  <section class = "columns large-6 small-12">
    <h5>Recently Added</h5>
    <% @recent_products.each do |p|%>
    <%= link_to product_path(p.id) do %>
    <article class="product">
      <%= image_tag p.image, alt:"product image"  unless p.image.blank? %>
      <p><%= p.name.titleize %></p>
      <p><%= format_price(p.price) %></p>
    </article>
    <% end %>
  <%end %>
  </section>

</section>
