<section class = "row">
  <article class = "column small-12 large-6">
    <%= image_tag @product.image, alt:@product.name %>

  </article>
  <article class = "column small-12 large-6">
    <h3><%=@product.name%><small class = "float-right"><%= link_to @product.user.username, user_products_path(@product.user)%></small></h3>
    <h4><%=format_price(@product.price)%></h4>
    <h5><%=stock(@product.stock)%></h5>

    <%= form_for @order_product do |f| %>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, in: 1..10, step: 1 %>

        <%= f.submit "Add to Coffin", class: "button" %>
      <% end %>

    <%# link_to "Add to Coffin", order_product_path(@product.id),class:'button', method: :post%>
    <p>
      <%= @product.description %>
    </p>
    <p>
      <%= link_to @product.categories[0].name, category_products_path(@product.categories[0].id) %>
      <% num = @product.categories.length - 1 ; (1..num).each do |c| %>
        , <%= link_to @product.categories[c].name, category_products_path(@product.categories[c].id) %>
        <% end %>
    </p>

  </article>
</section>
<section class = "row">
<h4>Ratings Summary</h4>
<p>
  <%= average_rating(@product.reviews) %>
</p>
</section>
<section class = "row">
  <h4>Reviews</h4>
  <% if @product.reviews.empty? %>
  <p>
    Be the first ghost to review!
  </p>
  <%else %>
  <ul>
    <% @product.reviews.each do |review| %>
    <li>
      <%= review.rating %>
    </li>
    <p>
      <%= review.body %>
    </p>
    <%end %>
  </ul>
  <% end %>
<%=link_to "review now!", new_product_review_path(@product.id), class: 'button' %>
