<h1>Products#update</h1>

<p>Temp page to check on new products</p>
<%= params %>

<p>
<%= @product.user_id %>
</p>
<%= @product.user.username %>
<p>
<%= @product.name %>
</p>
<p>
<%= @product.price %>
</p>
<p>
<%= @product.stock %>
</p>
<%= @product.description %>

<p>categories:
<% @product.categories.each do |c| %>
<p><%= c.name %></p>

<% end %>
